@font-face {
    font-family: 'Copyright Sharp Type Co.';
    src: url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly.eot');
    src: url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly.eot?#iefix') format('embedded-opentype'),
        url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly.woff2') format('woff2'),
        url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly.woff') format('woff'),
        url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Copyright Sharp Type Co.';
    src: url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_1.eot');
    src: url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_1.eot?#iefix') format('embedded-opentype'),
        url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_1.woff2') format('woff2'),
        url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_1.woff') format('woff'),
        url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_1.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Copyright Sharp Type Co.';
    src: url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_2.eot');
    src: url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_2.eot?#iefix') format('embedded-opentype'),
        url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_2.woff2') format('woff2'),
        url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_2.woff') format('woff'),
        url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_2.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Copyright Sharp Type Co.';
    src: url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_3.eot');
    src: url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_3.eot?#iefix') format('embedded-opentype'),
        url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_3.woff2') format('woff2'),
        url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_3.woff') format('woff'),
        url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_3.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Copyright Sharp Type Co.';
    src: url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_4.eot');
    src: url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_4.eot?#iefix') format('embedded-opentype'),
        url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_4.woff2') format('woff2'),
        url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_4.woff') format('woff'),
        url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_4.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Copyright Sharp Type Co.';
    src: url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_5.eot');
    src: url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_5.eot?#iefix') format('embedded-opentype'),
        url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_5.woff2') format('woff2'),
        url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_5.woff') format('woff'),
        url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_5.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Copyright Sharp Type Co.';
    src: url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_6.eot');
    src: url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_6.eot?#iefix') format('embedded-opentype'),
        url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_6.woff2') format('woff2'),
        url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_6.woff') format('woff'),
        url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_6.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Copyright Sharp Type Co.';
    src: url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_7.eot');
    src: url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_7.eot?#iefix') format('embedded-opentype'),
        url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_7.woff2') format('woff2'),
        url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_7.woff') format('woff'),
        url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_7.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Copyright Sharp Type Co.';
    src: url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_8.eot');
    src: url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_8.eot?#iefix') format('embedded-opentype'),
        url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_8.woff2') format('woff2'),
        url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_8.woff') format('woff'),
        url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_8.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Copyright Sharp Type Co.';
    src: url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_9.eot');
    src: url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_9.eot?#iefix') format('embedded-opentype'),
        url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_9.woff2') format('woff2'),
        url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_9.woff') format('woff'),
        url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_9.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Copyright Sharp Type Co.';
    src: url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_10.eot');
    src: url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_10.eot?#iefix') format('embedded-opentype'),
        url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_10.woff2') format('woff2'),
        url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_10.woff') format('woff'),
        url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Copyright Sharp Type Co.';
    src: url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_11.eot');
    src: url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_11.eot?#iefix') format('embedded-opentype'),
        url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_11.woff2') format('woff2'),
        url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_11.woff') format('woff'),
        url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_11.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Copyright Sharp Type Co.';
    src: url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_12.eot');
    src: url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_12.eot?#iefix') format('embedded-opentype'),
        url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_12.woff2') format('woff2'),
        url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_12.woff') format('woff'),
        url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_12.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Copyright Sharp Type Co.';
    src: url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_13.eot');
    src: url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_13.eot?#iefix') format('embedded-opentype'),
        url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_13.woff2') format('woff2'),
        url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_13.woff') format('woff'),
        url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_13.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Copyright Sharp Type Co.';
    src: url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_14.eot');
    src: url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_14.eot?#iefix') format('embedded-opentype'),
        url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_14.woff2') format('woff2'),
        url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_14.woff') format('woff'),
        url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_14.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Copyright Sharp Type Co.';
    src: url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_15.eot');
    src: url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_15.eot?#iefix') format('embedded-opentype'),
        url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_15.woff2') format('woff2'),
        url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_15.woff') format('woff'),
        url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_15.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Copyright Sharp Type Co.';
    src: url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_16.eot');
    src: url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_16.eot?#iefix') format('embedded-opentype'),
        url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_16.woff2') format('woff2'),
        url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_16.woff') format('woff'),
        url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_16.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Copyright Sharp Type Co.';
    src: url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_17.eot');
    src: url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_17.eot?#iefix') format('embedded-opentype'),
        url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_17.woff2') format('woff2'),
        url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_17.woff') format('woff'),
        url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_17.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Copyright Sharp Type Co.';
    src: url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_18.eot');
    src: url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_18.eot?#iefix') format('embedded-opentype'),
        url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_18.woff2') format('woff2'),
        url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_18.woff') format('woff'),
        url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_18.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Copyright Sharp Type Co.';
    src: url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_19.eot');
    src: url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_19.eot?#iefix') format('embedded-opentype'),
        url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_19.woff2') format('woff2'),
        url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_19.woff') format('woff'),
        url('CopyrightSharpTypeCoThisfontislicensedforwebuseonly_19.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

